{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load favor_tags %}
{% load site_tags%}

{% block content %}
{% if is_paginated %}
  {% pagination page_obj %}
{% endif %}

<table class='table'>
<thead>
<tr>
        <td><a href={% url 'nineone_list' %}?orderby=title>Title</a></td>
        <td><a href={% url 'nineone_list' %}?orderby=_favor__order_count>Favor</a></td>
</tr>
</thead>
{% for obj in object_list %}
<tr>
        <td><a href={% url 'nineone_detail' obj.id %} > {{ obj.title }}</a></td>
        <td> {% show_favor obj.favor %} </td>
</tr>
{% endfor %}
</table>

{% if is_paginated %}
  {% pagination page_obj %}
{% endif %}
{% endblock %}
