{% extends "base.html" %}
{% load i18n %}
{% load comment_tags %}

{% block content %}

  <h4>{{ object.title }} </h4>
  <a href={% url "article_update" object.id %}>
  <span class="glyphicon glyphicon-pencil" >{% trans "Edit" %}</span>
  </a>
  <p> {% trans "Tags" %}: 
  {% for tag in article_tags %} 
    <a href={% url "tag_show" tag.id %}>{{ tag.name }} </a>
  {% endfor %}
  </p>
  {{ object.content | safe | escape }}
  <hr /> 
  {% show_comment_list object %}
  <hr />
  <div class="well">
    <h4> {% trans "Leave a comment" %} </h4>
    {% show_comment_create %}
  </div>

{% endblock %}
